name: Build and Deploy to Another Repo
on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install and Build
        run: |
          npm install
          npm run build # Tạo ra folder 'build'

      - name: Deploy to Another Repo
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          # Token này bạn sẽ tạo ở Bước 2 bên dưới
          token: ${{ secrets.MY_DEPLOY_TOKEN }} 
          
          # Thay bằng: TênUser/TênRepoĐích
          repository-name: cong8191/tracking_game
          
          branch: main
          folder: build # Chỉ định folder chứa kết quả build
          clean: true